table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 70%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    style: overflow-x:auto;
}
th, td {
    text-align: center;
}
img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
th {
  background-color: #f4f9a9;
  color: blue;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.good-interval {
    background-color: #44fc07;
}
.bad-interval {
    background-color: #fc8171;
}
.perfect-interval {
    background-color: #99ffff;
}
.playable:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 5px;
}
body {
    background-color:#e5ffff;
}
caption {
    caption-side: top;
    text-align: center;
    color: black;
    font-size: large;
}
h1 {
    text-align: center;
    display: block;
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
